/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
 
table.xsort {
	font-family: sans-serif;
	width: 100%;
}
table.xsort td {
	background-color: #efefef;
	padding: 5px;
}

table.xsort thead td {
	background-color: #aaa;
	color: #fff;
}

table.xsort thead tr:not(:last-child) td {
	background-color: #333;
}

table.xsort tr.selected td {
	background-color: #eee;
}

table.xsort tr.done td {
	background-color: #bbb;
	color: #fff;
}
table.xsort tr td:first-child {
	width: 40px;
}
table.xsort tr td:first-child > input[type="checkbox"] {
	cursor: pointer;
	width: 32px;
	height: 32px;
}

table.xsort caption {
	text-align: left;
}

table.xsort caption > textarea {
	display: none;
}

table.xsort caption .counters {
	background-color: #000;
	border: 1px solid #fff;
	color: #eee;
	display: inline-block;
	font-size: 2em;
	padding: 10px;
}

table.xsort caption .select-range-controls {
	display: inline-block;
	padding-right: 30px;
	position: relative;
}

table.xsort caption .select-range-controls label {
	display: block;
}

table.xsort caption .select-range-controls span {
	cursor: pointer;
	display: block;
	height: 15px;
	position: absolute;
	right: 0;
	text-align: center;
	width: 24px;
}

table.xsort caption .select-range-controls span.increment {
	top: 0;
}

table.xsort caption .select-range-controls span.decrement {
	bottom: 0;
}

table.xsort caption .select-range-controls span.increment:before {
	border-bottom: 12px solid #000;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
}

table.xsort caption .select-range-controls span.decrement:before {
	border-top: 12px solid #000;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
}

.xsort-v, .xsort-h, .xsort-on {
	display: inline-block;
	height: 20px;
	text-align: center;
	position: relative;
	width: 40px;
}

.xsort-v, .xsort-on {
	background-color: rgba(0,0,0,0.1);
}

.xsort-v b, .xsort-on b {
	border: 10px solid transparent;
	border-top: 10px solid #aaa;
	border-bottom-width: 0;
	content: '';
	cursor: pointer;
	display: block;
	position: absolute;
	top: 6px;
	left: 11px;
}

.xsort-v.asc b {
	border: 10px solid transparent;
	border-bottom-color: #aaa;
	border-top-width: 0;
	top: 6px;
}

.xsort-h {
	background-color: rgba(255,255,255,0.5);
	opacity: 0;
}

.xsort-h b {
	border: 12px solid transparent;
	content: '';
	cursor: pointer;
	display: block;
	position: absolute;
	top: 1px;
}

table.xsort thead td:not(:first-child) {
	padding-right: 36px;
	position: relative;
	height: 40px;
}

table.xsort thead tr.priority td {
	height: auto;
	line-height: 0;
	padding: 0;
	height: 20px;
	text-align: center;
}
table.xsort thead tr.priority.ctrl td {
	background-color: #aaa;
}
table.xsort thead tr.priority.ctrl .xsort-off {
	cursor: pointer;
	display: inline-block;
}
table.xsort thead tr.priority.ctrl .xsort-off > b{
	display: block;
	height: 20px;
	position: relative;
	width: 20px;
}
table.xsort thead tr.priority.ctrl .xsort-off > b:before {
	transform: rotate(45deg);
}
table.xsort thead tr.priority.ctrl .xsort-off > b:after {
	transform: rotate(-45deg);
}
table.xsort thead tr.priority.ctrl .xsort-off > b:before,
table.xsort thead tr.priority.ctrl .xsort-off > b:after {
	background-color: #fff;
	content: '';
	display: block;
	height: 20px;
	left: 9px;
	position: absolute;
	width: 2px;
}
table.xsort thead tr.priority.ctrl .xsort-h {
	background-color: rgba(255, 255, 255, 0.4);
	height: 20px;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 34px;
}
table.xsort thead tr.priority.ctrl .xsort-h.dec {
	margin-left: -50px;
	left: 50%;
}
table.xsort thead tr.priority.ctrl .xsort-h.inc {
	margin-right: -50px;
	right: 50%;
}

table.xsort thead tr.priority.ctrl .xsort-h > b {
	border: none;
	height: 100%;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
}
table.xsort thead tr.priority.ctrl .xsort-h > b:before,
table.xsort thead tr.priority.ctrl .xsort-h > b:after {
	background-color: #fff;
	content: '';
	display: block;
	height: 20px;
	position: absolute;
	width: 2px;
}
table.xsort thead tr.priority.ctrl .xsort-h > b:before {
	left: 9px;
	transform: rotate(45deg);
}
table.xsort thead tr.priority.ctrl .xsort-h > b:after {
	right: 9px;
	transform: rotate(-45deg);
}
table.xsort thead tr.priority.ctrl .xsort-h.dec > b:before {
	left: 9px;
	transform: rotate(-45deg);
}
table.xsort thead tr.priority.ctrl .xsort-h.dec > b:after {
	right: 9px;
	transform: rotate(45deg);
}

table.xsort thead tr.priority.ctrl .xsort-on {
	display: none;
}

table.xsort thead tr.priority.ctrl td[data-priority="-1"] .xsort-on {
	display: inline-block;
}

table.xsort thead tr.priority.ctrl td[data-priority="-1"] .xsort-h,
table.xsort thead tr.priority.ctrl td[data-priority="-1"] .xsort-off {
	display: none;
}


table.xsort thead  tr:not(:last-child) td:not(:first-child) {
	padding: 0;
	text-align: center;
}

table.xsort thead  tr:first-child td:not(:first-child) p {
	padding: 0;
	margin: 0;
	height: 26px;
	margin: 5px;
}

table.xsort thead tr:first-child td p {
	cursor: default;
	font-weight: bold;
}

table.xsort thead tr:first-child td.occ.first .xsort-h.dec,
table.xsort thead tr:first-child td.occ.last .xsort-h.inc {
	display: none;
}

table.xsort thead tr:first-child td.occ:hover .xsort-h {
	opacity: 1;
}

table.xsort thead tr:first-child td i {
	color: #777;
	display: block;
	font-weight: normal;
	margin: 5px;
}